body{
  background-color: rgb(211, 62, 62);
  padding: 20px;
  
}
  header{
    background-color: #b334aa;
    color: rgb(234, 215, 48);
    text-align: center;
    padding: 25px;
    
  }

  h2{
    color: rgb(182, 192, 67);
    
  }

  